.header {    
    background-color: #39393b;
    border-color:#39393b;       
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    
  }
  h2 {
    display: flex;
    justify-content: center;  
    color: white;
    font-weight: bolder;
  }

  #weather-info {
    padding: 0%;
    margin-left: 5px;
    margin-right: 0px;
 }  

.col-md-3 {
  justify-content: left;
  float: left;
 
}
.weather{

  background-attachment: blue;
}

li {
  list-style-type: none;
}

#uvi {
  color: white;
  font-size: smaller;
  padding: 1px;
}  