/* Setting background color for main page */
body {
  background-color: rgb(245, 245, 245);
}

/* formatting hearder */
.header {    
    background-color: #39393b;
    background-image: url("Header-Background.png");
    border-bottom:#0606f7 solid 5px;       
    padding: 1rem 1rem;
    margin-bottom: 1rem;
   
  }
  /* formating header font */
  h2 {
    display: flex;
    justify-content: center;  
    color: rgb(252, 248, 5);
    font-weight: bolder;
    filter: brightness(200%);
  }
  /* input field formatting */
  #search-term{
    max-width: 70%;
  }

  #weather-info {
    margin-right: 20px;
    padding-right: 20px;
    margin-left: 20px;

 }  

.weather{
  background-color: rgb(15, 115, 247);
  padding-top: 5px;
  color: white;  
  justify-content: left;
  float: left;
}

li {
  list-style-type: none;
}

.cityL {

  display: flex;
  justify-content: left;
}
/* formating background and font color for uv index */
#uviy {
  color:black;
  background-color: yellow; 
  font-size: smaller;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 10px;
  height: 2px;
  
}  

#uvig {
  color: white;
  background-color:green;
  font-size: smaller;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 10px;
  height: 2px;
  
}  

#uvir {
  color: white;
  background-color: red;
  font-size: smaller;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 5px;
  height: 2px;
}  

#clear-all {
  margin-left: 20px;
}

/* formating rows of cities in search history */
.cityN {
  background-color: white;

  font-size: largE;
  padding: 5px;
  margin: 5px;
  margin-left: 15px;
  max-width: 90%;
}
/* current weather container formatting  */
#current-weather {
  background-color: white;
  font-size: smaller;
  margin-bottom: 1rem;
}
/* five day forecash container formatting */
#five-day {
  background-color: white;
  padding-left: 10px;
  padding-top: 10px;;
  display: flex;
  justify-content: space-evenly;
 
}